// main: ../../main.scss

@media (min-width: 961px) {
  #homepage-wrapper{
    position: relative;
    top: 5.35em;
  }
}

#homepage-wrapper{
  background-image: url(https://res.cloudinary.com/dblakenzcloud/image/upload/v1496636673/Salomon/broken_noise-pattern.png);
}
