// main: ../../../main.scss

@media (min-width: 768px) {

  .carouselHeading{
      font-size: 2.500em !important;
  }

  .carouselParagraphText{
    display: block !important;
  }
}

@media (min-width: 1024px) {
  .carouselHeading{
    margin-bottom: 1.071em;
    font-size: 3.929em !important;
  }
}

@media (min-width: 1200px) {

  .carouselTextWrapper{
    position: relative;
    top: 18em !important;
  }

  .carouselHeading{
    width: 8em;
    font-size: 5.000em !important;
    margin-bottom: 0em !important;
  }
  .owl-dots{
    display: none !important;
  }
}

#carousel-wrapper{
  position: relative;
}


.carouselItemWrapper{
  width: 100%;
  height: auto;
}

.carouselImage{
  width: 100%;
  max-height: 41em;
  vertical-align: middle;
  object-fit: cover;
}

.carouselTextWrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  padding: 1.071em;
  color: white;

  & .fa-long-arrow-right{
    color: white;
    font-size: 1.5em;
    margin: 0em 2em 0em 0.5em;
    position: relative;
    top: 0.05em;

      &:last-child{
        margin-right: 0em;
      }
  }
}

.carouselCatagory{
  font-family: 'FuturaBT-MediumCondensed';
  font-size: 1em;
  line-height: 1em;
  letter-spacing: 0.1em;
  padding: 0.5em;
  text-transform: uppercase;
  border: 0.15em solid white;
  margin-bottom: 1.429em;
  display: inline-block;
}

.carouselHeading{
  font-family: 'FuturaBT-Medium';
  text-transform: uppercase;
  font-size: 1.4em;
  line-height: 1em;
  margin: 0em 0em 0.714em 0em;
}

.carouselParagraphText{
  display: none;
  width: 28.214em;
  font-family: 'Futura-Book';
  font-size: 1em;
  line-height: 1.429em;
  margin-bottom: 1.4em;
}

.carouselCtaText{
  font-family: 'FuturaBT-MediumCondensed';
  text-transform: uppercase;
  font-size: 1.3em;
  line-height: 1.3em;
  letter-spacing: 0.05em;
}

.owl-dots{
  position: absolute;
  left: 50%;
  bottom: 1em;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  z-index: 1;
}
