// main: ../../../main.scss

@media screen and (min-width: 768px){
  .communityBoardContainer{
    width: 52.857em !important;
    height: 26.429em !important;

    & li{
      &:nth-child(2) {
        left: 13.214em !important;
        top: 0em !important;
      }
      &:nth-child(3) {
        height: 26.429em !important;
        width: 26.429em !important;
        left: 26.428em !important;
        top: 0em !important;

      }
      &:nth-child(4) {
        left: 0em !important;
        top: 13.214em !important;
      }
      &:nth-child(5) {
        left: 13.214em !important;
        top: 13.214em !important;
      }
    }
  }
  .communityBoardItem{
    height: 13.214em !important;
    width: 13.214em !important;
  }

  .socialItem{
    padding-top: 1.5em;

    & p{
      font-size: 0.857em !important;
      line-height: 1.286em !important;

    }

    & h3{
      font-size: 1em !important;
      line-height: 1.214em !important;
    }

    & .socialIcon{
      width: 1.7em !important;
      height: 1.7em !important;
      font-size: 1em !important;
      line-height: 1.5em !important;
      border: 1.5px solid #31babc !important;
      margin: 1em 0.2em !important;
    }
  }
}




@media screen and (min-width: 1052px){
  .communityBoardContainer{
    width: 73.716em !important;
    height: 36.858em !important;

    & li{
      &:nth-child(2) {
        left: 18.429em !important;
        top: 0em !important;
      }
      &:nth-child(3) {
        height: 36.858em !important;
        width: 36.858em !important;
        left: 36.858em !important;
        top: 0em !important;

      }
      &:nth-child(4) {
        left: 0em !important;
        top: 18.429em !important;
      }
      &:nth-child(5) {
        left: 18.429em !important;
        top: 18.429em !important;
      }
    }
  }
  .communityBoardItem{
    height: 18.429em !important;
    width: 18.429em !important;
  }

  .socialItem{
    padding-top: 4.5em;
  }
}

@media screen and (min-width: 1412px){
  .communityBoardContainer{
    width: 98.572em !important;
    height: 49.268em !important;

    & li{
      &:nth-child(2) {
        left: 24.643em !important;
        top: 0em !important;
      }
      &:nth-child(3) {
        height: 49.268em !important;
        width: 49.268em !important;
        left: 49.268em !important;
        top: 0em !important;

      }
      &:nth-child(4) {
        left: 0em !important;
        top: 24.643em !important;
      }
      &:nth-child(5) {
        left: 24.643em !important;
        top: 24.643em !important;
      }
    }
  }
  .communityBoardItem{
    height: 24.643em !important;
    width: 24.643em !important;
  }

  .socialItem{
    padding-top: 7.5em;
  }
}





$itemSize: 16.714em;

.communitySubtitle{
  font-size: 1em;
}

.communityBoardContainer{
  width: 100%;
  width: 16.714em;
  height: 83.57em;
  margin: 0em auto;
  position: relative;

  & ul{
    padding: 0em;
    margin: 0em;
  }

  & li{
    transition:all 0.4s ease;

    &:nth-child(2) {
      cursor: pointer;
      top: $itemSize;
      left:0;
    }
    &:nth-child(3) {
      cursor: pointer;
      top: $itemSize*2;
      left:0;

    }
    &:nth-child(4) {
      cursor: pointer;
      top: $itemSize*3;
      left:0;
    }
    &:nth-child(5) {
      cursor: pointer;
      top: $itemSize*4;
      left:0;
    }
  }
}

.communityBoardItem{
  position: absolute;
  height: $itemSize;
  width: $itemSize;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.socialItem{
  background-color: #EEF4F3;
  text-align: center;

  & p{
    color: #424544;
    text-transform: uppercase;
    font-size: 1.214em;
    line-height: 1.929em;
    letter-spacing: 0.054em;
    margin: 0em;

    &:first-child{
      padding-top: 1.5em;
    }
  }

  & h3{
    color: #424544;
    text-transform: uppercase;
    font-size: 1.429em;
    line-height: 1.714em;
    letter-spacing: 0.054em;
    margin: 0em;
  }

  & .socialIcon{
    color: #31babc;
    border: 2px solid #31babc;
    border-radius: 50%;
    width: 1.856em;
    height: 1.856em;
    font-size: 1.5em;
    line-height: 1.75em;
    margin: 0.5em 0.2em;
    cursor: pointer;
  }

  & .seeMore{
    color: #31babc;
    text-transform: uppercase;
    cursor: pointer;
  }

  & .fa-long-arrow-right{
    color: #31babc;
    margin-left: 0.3em;
    cursor: pointer;
  }
}
