// main: ../../../main.scss

.communitySubtitle{
  font-size: 1em;
}

.communityBoardContainer{
  max-width: 16.714em;
  margin: 0em auto;

  & ul{
    padding: 0em;
    margin: 0em;
  }

  & li{
    margin: 0em;
  }
}

.communityBoardItem{
  height: 16.714em;
  width: 16.714em;
}

.socialItem{
  background-color: #EEF4F3;
  text-align: center;

  & p{
    color: #424544;
    text-transform: uppercase;
    font-size: 1.214em;
    line-height: 1.929em;
    letter-spacing: 0.054em;
    margin: 0em;

    &:first-child{
      padding-top: 1.5em;
    }
  }

  & h3{
    color: #424544;
    text-transform: uppercase;
    font-size: 1.429em;
    line-height: 1.714em;
    letter-spacing: 0.054em;
    margin: 0em;
  }

  & .socialIcon{
    color: #31babc;
    border: 2px solid #31babc;
    border-radius: 50%;
    width: 1.856em;
    height: 1.856em;
    font-size: 1.5em;
    line-height: 1.75em;
    margin: 0.5em 0.2em;
    cursor: pointer;
  }

  & .seeMore{
    color: #31babc;
    text-transform: uppercase;
    cursor: pointer;
  }

  & .fa-long-arrow-right{
    color: #31babc;
    margin-left: 0.3em;
    cursor: pointer;
  }
}
