// main: ../../../main.scss
#desktopMenuSports{
  & h2{
    font-family: 'FuturaBT-MediumCondensed';
    letter-spacing: 0.1em;
    color: #0ff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 2.857em;
  }

  & li:before{
    content: '';
    position: absolute;
    top: 0.7em;
    left: 0.7em;
    right: 0.7em;
    bottom: 0.7em;
    background-color: rgba(0,0,0,.3);
    transition: background-color .4s ease;
  }
  & li:hover::before{
    background-color: rgba(0,0,0,.0);
  }

  & li{
    padding: auto;
  }
}

.desktopSportsImagesWrapper{
  width: 100%;
  padding: 1.786em 1.071em 1.429em 1.071em
}
